
<ion-header>

  <ion-navbar>
    <ion-title>Github Profiles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>
          Github User:
        </ion-label>
        <ion-input type="text" [(ngModel)]="github_user" name="github_user"></ion-input>
      </ion-item>
      <br/>
      <button ion-button type="submit" clear small>Search</button>
    </form>
      <button ion-button clear small (click)="reset()">Reset</button>
  </ion-card>


  <ion-card *ngIf="profile">
  <ion-item>
    <ion-avatar item-left>
      <img src="{{profile.avatar_url}}">
    </ion-avatar>
    <h2>{{profile.name}}</h2>
    <h3>{{profile.location}}</h3>
  </ion-item>
   <br/>
  <ion-card-content>
    <h3>{{profile.bio}}</h3>
  </ion-card-content>

   <ion-row>
     <ion-col>
       <button ion-button clear small icon-left>
         <ion-icon name="person"></ion-icon>
         <div>{{profile.followers}} Followers</div>
       </button>
     </ion-col>
     <ion-col>
       <button ion-button icon-left clear small (click)="showRepos(profile.login)">
         <ion-icon name="git-branch"></ion-icon>
         <div>{{profile.public_repos}} repos</div>
       </button>
     </ion-col>

   </ion-row>
</ion-card>

  <ion-card *ngIf="repos">
  <ion-list>
   <ion-item *ngFor=" let repo of repos" (click)="repoTapper($event, repo)">
     <h2>{{repo.name}}</h2>
     <p>{{repo.description}}</p>
   </ion-item>
    </ion-list>
  </ion-card>




</ion-content>
